# yamllint disable rule:indentation
---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: ^.*/merge\.sh$
      - id: end-of-file-fixer
        name: End Of File Fixer
        exclude: ^.*/merge\.sh$
      - id: check-yaml
        name: Check YAML
        args: ["--unsafe"]
      - id: check-json
        name: Check JSON
        exclude: ^\.config/nvim/coc-settings\.json$
      - id: check-merge-conflict
        name: Check Merge Conflict
      - id: check-case-conflict
        name: Check Case Conflict
        exclude: ^.*/merge\.sh$
      - id: mixed-line-ending
        name: Mixed Line Ending
        args: ["--fix=lf"]
        exclude: ^.*/merge\.sh$

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - id: forbid-crlf
        name: Forbid CRLF Line Endings
      - id: remove-tabs
        name: Remove Tabs (2 spaces)
        args: [--whitespaces-count, '2']
        files: '\.(bash|sh|groovy|yaml|yml|js|json|ini|cfg|txt|md)$'
      - id: remove-tabs
        name: Remove Tabs (4 spaces)
        args: [--whitespaces-count, '4']
        files: '\.py$'

  - repo: https://github.com/pycqa/pylint
    rev: v4.0.4
    hooks:
      - id: pylint
        name: Pylint
        args: ["--rcfile=.pylintrc"]
        types: [python]
        additional_dependencies: [wcwidth]

  - repo: https://github.com/crate-ci/typos
    rev: v1.43.3
    hooks:
      - id: typos
        name: Typos
        args: ["--write-changes"]
